/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía y colores generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2B2B2B;
    background-color: #FDF6E3;
}

/* Encabezado */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: sans-serif;
    font-size: 48px; /* Aquí cambias el tamaño */
    font-weight: bold;
    color: white;
}

/*Menu de navegacion*/
nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #CBA135; 
}

/* Imagen de portada */
.hero {
    background-image: url('../imagenes/paris.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
}

.hero h2 {
    font-family: sans-serif;
    font-size: 40px; /* Aquí cambias el tamaño */
    font-weight: bold;
    color: white;
}

/* Contenido general */
.contenido {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

/* Sección de lugares turísticos */
.lugares-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.lugar {
    background-color: #FCFAF6;
    padding: 20px;
    border: 1px solid #7F8C8D;
    border-radius: 8px;
}

.lugar img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Para que no se salgan del contenedor */
    height: auto;    /* Mantiene la proporción */
}

/* festividades y eventos turisticos */
.festividades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.festividad {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #CBA135;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #8B2D33;
}

/* Pie de página */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
